html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
:focus {
  /* remember to define focus styles! */
  outline: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* =Global
----------------------------------------------- */
body,
input,
textarea {
  color: #373737;
  font: 15px helvetica, "微软雅黑", "microsoft yahei", verdana, lucida, arial, sans-serif, "黑体";
  font-weight: 300;
  line-height: 1.625;
}
body {
  background: #EEEEEE;
}
#page {
  background: #fff;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}
/* Text elements */
ul,
ol {
  margin: 0 0 1.625em 2.5em;
}
ul {
  list-style: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}
code,
kbd,
samp,
var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 1.625em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
/* Forms */
input[type=text],
input[type=password],
textarea {
  color: #888;
}
input[type=text]:focus,
textarea:focus {
  color: #373737;
}
textarea {
  padding-left: 3px;
  width: 98%;
}
input {
  padding: 3px;
}
input#s {
  background: url(images/search.png) no-repeat 5px 6px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}
/* Links */
a {
  color: #1982d1;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  text-decoration: underline;
}
/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}
.pd-lr-xs {
  padding: 0 6px;
}
.pd-l-xs {
  padding-left: 6px;
}
.pd-l-sm {
  padding-left: 12px;
}
a:hover {
  text-decoration: none;
}
.btn-flat.btn-black {
  background: #000;
  color: #fff;
}
.radius-0 {
  border-radius: 0;
}
.border-non {
  border: none;
}
.white-block {
  height: 24px;
}
.white-block-12 {
  height: 12px;
}
.img-responsive {
  max-width: 100%;
}
@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons-halflings-regular.ttf");
}
html,
body,
.page {
  width: 100%;
  height: 100%;
}
.page {
  padding: 5%;
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
.logo {
  width: 65%;
  margin: 24px auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.copyright {
  text-align: center;
  margin: 24px 0 72px;
  color: #777777;
}
.row {
  position: relative;
}
.row::after {
  content: ' ';
  clear: both;
  display: block;
}
.row > * {
  min-height: 1px;
  position: relative;
}
.col-1 {
  width: 8.33333333%;
  float: left;
}
.col-2 {
  width: 16.66666667%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  float: left;
}
.col-5 {
  width: 41.66666667%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33333333%;
  float: left;
}
.col-8 {
  width: 66.66666667%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33333333%;
  float: left;
}
.col-11 {
  width: 91.66666667%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.p1 {
  padding: 1px;
}
.box-lg {
  padding: 6px 12px;
}
.content-box {
  background: #fff;
  padding: 3px 12px;
}
.hidden {
  display: none;
}
.small {
  font-size: 13px;
}
a:hover,
a:visited,
a:active,
a:focus {
  outline: none;
}
a:visited {
  color: inherit;
}
span.glyphicons {
  font-family: 'glyphicons';
  line-height: 36px;
  padding: 0 6px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span.glyphicons.arrow-down::before {
  content: "\e114";
}
span.glyphicons.arrow-right::before {
  content: '\e080';
}
span.glyphicons.pencil::before {
  content: '\270f';
}
span.glyphicons.card {
  top: 2px;
}
span.glyphicons.card::before {
  content: '\e177';
}
.bg-orange {
  background-color: #fd8a24;
}
.brr {
  border-radius: 3px;
}
.top-brr {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.bottom-brr {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.left-brr {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.right-brr {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nobg {
  background: none;
}
input {
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
input[disabled] {
  color: #373737;
}
input,
button,
.notice,
.btn-full {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #ff8a00;
  font-size: 15px;
}
input.line-higher,
button.line-higher,
.notice.line-higher,
.btn-full.line-higher {
  height: 42px;
}
a.btn {
  text-align: center;
  line-height: 36px;
  padding: 0 24px;
  font-weight: normal;
  font-size: 15px;
  background: #fd8a24;
  color: #fff;
  border-radius: 3px;
}
a.btn.line-higher {
  height: 42px;
  line-height: 42px;
}
a.btn-block {
  display: inline-block;
}
.center-block {
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
hr {
  margin: 6px auto;
  background: #cfcfcf;
}
.mt2 {
  margin-top: 48px;
}
.mt {
  margin-top: 24px;
}
.mt05 {
  margin-top: 12px;
}
.mt033 {
  margin-top: 8px;
}
.mb {
  margin-bottom: 24px;
}
.mb05 {
  margin-bottom: 12px;
}
.mb033 {
  margin-bottom: 8px;
}
.pd2 {
  padding-top: 48px;
}
.pd {
  padding-top: 24px;
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
:-moz-placeholder {
  color: #cdcdcd;
}
:-ms-input-placeholder {
  /* IE10+ */
  color: #cdcdcd;
}
.c-d-gray {
  color: #777777;
}
.c-gray {
  color: #cdcdcd;
}
.c-orange {
  color: #fd8a24;
}
.c-red {
  color: #ff0000;
}
.bg-orange {
  background: #fd8a24;
  color: #fff;
}
.br {
  border: 1px solid #d9d9d9;
}
.notice {
  height: 96px;
  overflow: auto;
}
.page.bg-city {
  background: #ececec url(../img/bg-city.png) no-repeat center bottom;
  background-size: contain;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 12px 1px;
}
.indent p {
  text-indent: 2em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-commission {
  background-image: url(../img/bg-money-2.png);
  background-repeat: no-repeat;
}
.bg-rb {
  background-position: right bottom;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group input,
.input-group .addon {
  display: table-cell;
}
.input-group input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input-group .addon {
  padding: 0 6px;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.input-group .addon.gray {
  border: 1px solid #d9d9d9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-left: none;
}
.inline-group {
  position: relative;
  display: table;
  border-collapse: separate;
  line-height: 38px;
}
.inline-group .content,
.inline-group .addon {
  display: table-cell;
}
.inline-group.box-lg {
  font-size: 18px;
}
.inline-group.box-lg .card {
  font-size: 22px;
  top: 5px;
}
.inline-group .content {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.inline-group .content .content {
  board: none;
  border: none;
}
.inline-group .content .addon {
  padding: 0;
}
.inline-group .addon {
  padding: 0 6px;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.inline-group.br {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
}
.inline-group.br .content {
  board: none;
  border: none;
}
.inline-group.br .addon {
  padding: 0;
}
.selection-box {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  max-height: 100%;
  overflow: auto;
}
.selection-box .title {
  text-align: center;
  color: #eee;
  position: absolute;
  top: -36px;
  width: 100%;
}
.selection-box .inner {
  position: absolute;
  max-height: 80%;
  width: 100%;
  top: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.selection-box ul li {
  border-bottom: 1px solid #f4f4f4;
  text-align: center;
  line-height: 48px;
}
.selection-box ul li:nth-last-child(1) {
  border: none;
}
.block-layout {
  padding: 1px;
}
.block-layout .item {
  display: block;
  float: left;
  width: 50%;
  padding-right: 6px;
  color: #fff;
  margin-bottom: 12px;
}
.block-layout .item .inner {
  padding: 24px 18px;
  background-color: #fd8a24;
  border-radius: 3px;
  background-size: auto 85%;
  background-repeat: no-repeat;
}
.block-layout .item .t1 {
  font-size: 18px;
  line-height: 22px;
}
.block-layout .item .small {
  font-size: 14px;
}
.block-layout .item strong {
  font-weight: bold;
}
.block-layout .item .t2 {
  color: #c46b1a;
  font-weight: bold;
}
.block-layout .item:nth-child(even) {
  padding-right: 0;
  padding-left: 6px;
}
.block-layout::after {
  display: block;
  content: ' ';
  clear: both;
}
.page.login {
  background: #fd8a24 url(../img/login-bg.png) no-repeat;
  background-size: cover;
}
.page.login .main {
  padding: 24px 0;
}
.page.login form .wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 24px;
}
.account-center {
  padding: 12px;
}
.account-info {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  position: relative;
  height: 144px;
  padding: 12px 12px 12px 84px;
  margin-bottom: 12px;
}
.account-info .user-icon {
  position: absolute;
  left: -24px;
  top: -24px;
  width: 96px;
}
.account-info .user-icon img {
  max-width: 100%;
}
.account-info .name {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}
.account-info a.setting {
  position: absolute;
  right: -18px;
  top: -18px;
  width: 36px;
  height: 36px;
  background: url(../img/icon-setting.png) center center;
  background-size: cover;
}
.account-info a.modify {
  position: absolute;
  right: 12px;
  top: 12px;
  border-bottom: 1px solid #fd8a24;
  color: #fd8a24;
}
.account-info .bussiness-history {
  color: #fd8a24;
  position: absolute;
  bottom: 6px;
  right: 24px;
}
.account-info .bussiness-history > div {
  display: inline-block;
}
.account-info .bussiness-history span {
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
.account-info .bussiness-history p {
  padding-left: 6px;
}
.account-info .bussiness-history i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
  vertical-align: top;
}
.account-info .bussiness-history .recommend {
  margin-right: 6px;
}
.account-info .bussiness-history .recommend > div {
  border-right: 1px solid #fd8a24;
  padding-right: 12px;
}
.account-info .bussiness-history .recommend i {
  background-image: url(../img/icon-users.png);
}
.account-info .bussiness-history .earn i {
  background-image: url(../img/icon-money.png);
}
.account-nav {
  padding: 1px;
}
.account-nav > a {
  display: block;
  float: left;
  width: 50%;
  padding-right: 6px;
  color: #fff;
  margin-bottom: 12px;
}
.account-nav > a .inner {
  padding: 24px 18px;
  background-color: #fd8a24;
  border-radius: 3px;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.account-nav > a:nth-child(1) .inner {
  background-image: url(../img/bg-recommend.png);
}
.account-nav > a:nth-child(2) .inner {
  background-image: url(../img/bg-users.png);
}
.account-nav > a:nth-child(3) .inner {
  background-image: url(../img/bg-money.png);
}
.account-nav > a:nth-child(4) .inner {
  background-image: url(../img/bg-doc.png);
}
.account-nav > a .t1 {
  font-size: 22px;
  line-height: 22px;
}
.account-nav > a .t2 {
  color: #c46b1a;
  font-weight: bold;
}
.account-nav > a:nth-child(even) {
  padding-right: 0;
  padding-left: 6px;
}
.account-nav::after {
  display: block;
  content: ' ';
  clear: both;
}
.account-nav.role > a .inner {
  background-image: url(../img/bg-users.png);
}
.account-nav.role .t1 {
  font-size: 16px;
}
.sale-list {
  padding: 1px;
}
.sale-list .item {
  margin-bottom: 12px;
}
.sale-list .item .thumbnail {
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-width: 100%;
}
.sale-list .item .info {
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 12px;
}
.sale-list .item .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.sale-list .item .commission span {
  padding: 1px 3px;
}
.client {
  font-size: 12px;
  text-align: center;
}
.client .item {
  background: #fff;
  margin-bottom: 6px;
  position: relative;
  display: block;
}
.client .item > div {
  float: left;
  padding: 12px 6px;
}
.client .item::after {
  content: ' ';
  clear: both;
  display: block;
}
.client .item .name {
  width: 16%;
}
.client .item .loupan {
  width: 38%;
}
.client .item .phone {
  width: 27%;
}
.client .item .state {
  width: 17%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.client .item .state span {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.client .state {
  color: #fff;
}
.client .state1 {
  background: #FC0F42;
}
.client .state2 {
  background: #FD7222;
}
.client .state3 {
  background: #EFC52C;
}
.client .state4 {
  background: #47B720;
}
.client .state5 {
  background: #22D4AA;
}
.client .state6 {
  background: #1BA4E4;
}
.client .head {
  background: none;
}
.client .head .state {
  color: inherit;
}
.trade .small {
  font-size: 12px;
}
.rule .content-box {
  padding-bottom: 48px;
}
.rule h1 {
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.client-detail .name,
.client-detail .sex,
.client-detail .loupan {
  line-height: 24px;
  display: inline-block;
}
.client-detail .name {
  font-size: 20px;
}
.client-detail .sex {
  padding: 1px;
  background: #ff0000;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  position: relative;
  top: -1px;
}
.client-detail .loupan {
  float: right;
}
.client-detail hr {
  margin: 6px 0;
}
.client-detail .phone a {
  padding: 0 6px;
  color: #fd8a24;
}
.client-detail .phone::before {
  content: '\e182';
  font-family: 'glyphicons';
  display: inline-block;
  font-size: 10px;
  color: #fff;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 22px;
  background: #fd8a24;
  border-radius: 10px;
  margin-right: 6px;
}
.client-detail .state-bar {
  position: relative;
  padding-top: 24px;
}
.client-detail .state-bar::after {
  content: ' ';
  clear: both;
  display: block;
}
.client-detail .state-bar > * {
  min-height: 1px;
  position: relative;
}
.client-detail .state-bar::before {
  position: absolute;
  content: ' ';
  left: 8.5%;
  right: 8.5%;
  background: #cdcdcd;
  height: 2px;
  top: 11px;
}
.client-detail .state-bar .item {
  width: 16.66666667%;
  float: left;
  font-size: 12px;
  text-align: center;
}
.client-detail .state-bar .item::before {
  position: absolute;
  content: ' ';
  width: 12px;
  height: 12px;
  background: #cdcdcd;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
}
.client-detail .state-bar .item.done {
  color: #fd8a24;
}
.client-detail .state-bar .item.done::before {
  background: #fd8a24;
}
