@import "basic.less";
@font-face {
	  font-family: "glyphicons";
	  src: url("../fonts/glyphicons-halflings-regular.ttf");
}
// ----------------------------------------
// ! variables
// ----------------------------------------

@c-orange: #FD8A24;
@c-l-orange: #ff8a00;
@c-d-orange: #C46B1A;
@c-gray: #cdcdcd;
@c-d-gray: #777;
@c-border: #CFCFCF;
@c-d-border: #D9D9D9;
@c-red: red;
@h-line: 24px;

// ----------------------------------------
// ! basic layout
// ----------------------------------------
html, body, .page {
	width: 100%;
	height: 100%;
}

.page {
	padding: 5%;
	height: auto;
	min-height: 100%;
	overflow: auto;
	position: relative;
}

.logo {
	width: 65%;
	margin: 24px auto;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.copyright {
	text-align: center;
	margin: @h-line 0 @h-line*3;
	color: @c-d-gray;
}

.row {
	position: relative;
	
	&::after {
		content: ' ';
		clear: both;
		display: block;
	}

	>* {
		min-height: 1px;
		position: relative;
	}
}

.col-1 {
	width: 100%/12 * 1;
	float: left;
}.col-2 {
	width: 100%/12 * 2;
	float: left;
}.col-3 {
	width: 100%/12 * 3;
	float: left;
}.col-4 {
	width: 100%/12 * 4;
	float: left;
}.col-5 {
	width: 100%/12 * 5;
	float: left;
}.col-6 {
	width: 100%/12 * 6;
	float: left;
}.col-7 {
	width: 100%/12 * 7;
	float: left;
}.col-8 {
	width: 100%/12 * 8;
	float: left;
}.col-9 {
	width: 100%/12 * 9;
	float: left;
}.col-10 {
	width: 100%/12 * 10;
	float: left;
}.col-11 {
	width: 100%/12 * 11;
	float: left;
}.col-12 {
	width: 100%/12 * 12;
	float: left;
}

// ----------------------------------------
// ! basic style
// ----------------------------------------
.p1 {
	padding: 1px;
}

.box-lg {
	padding: 6px 12px;
}

.content-box {
	background: #fff;
	padding: 3px 12px;
}

.hidden {
	display: none;
}

.small {
	font-size: 13px;
}

a:hover, a:visited, a:active, a:focus{
	outline: none;
}

a:visited {
	color: inherit;
}

span.glyphicons {
	font-family: 'glyphicons';
	line-height: 36px;
	padding: 0 6px;
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	
	&.arrow-down::before {
		content: "\e114";
	}

	&.arrow-right::before {
		content: '\e080';
	}

	&.pencil::before {
		content: '\270f';
	}

	&.card {
		top: 2px;

		&::before {
			content: '\e177';
		}
	}
}

.bg-orange {
	background-color: @c-orange;
}

.brr {
	border-radius: 3px;
}

.top-brr {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.bottom-brr {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.left-brr {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.right-brr {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.nobg {
	background: none;
}

input {
	border-radius: 0;
	margin: 0;
	box-shadow: none;
}

input[disabled] {
	color: #373737;
}

input, button, .notice, .btn-full {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: @c-l-orange;
	font-size: 15px;

	&.line-higher {
		height: 42px;
	}
}

a.btn {
	text-align: center;
	line-height: 36px;
	padding: 0 24px;
	font-weight: normal;
	font-size: 15px;
	background: @c-orange;
	color: #fff;
	.brr();

	&.line-higher {
		height: 42px;
		line-height: 42px;
	}
}

a.btn-block {
	display: inline-block;
}

.center-block {
	margin: 0 auto;
}

.inline {
	display: inline-block;
}

hr {
	margin: 6px auto;
	background: @c-border;
}

.mt2 {
	margin-top: @h-line * 2;
}

.mt {
	margin-top: @h-line;
}

.mt05 {
	margin-top: @h-line/2;
}

.mt033 {
	margin-top: @h-line/3;
}

.mb {
	margin-bottom: @h-line;
}

.mb05 {
	margin-bottom: @h-line/2;
}

.mb033 {
	margin-bottom: @h-line/3;
}

.pd2 {
	padding-top: @h-line * 2;
}

.pd {
	padding-top: @h-line;
}

::-webkit-input-placeholder {
    color: @c-gray;
}
 
:-moz-placeholder {
    color: @c-gray;
}
 
:-ms-input-placeholder {
    /* IE10+ */
    color: @c-gray;
}

.c-d-gray {
	color: @c-d-gray;
}

.c-gray {
	color: @c-gray;
}

.c-orange {
	color: @c-orange;
}

.c-red {
	color: @c-red;
}

.bg-orange {
	background: @c-orange;
	color: #fff;
}

.br {
	border: 1px solid @c-d-border;
}

.notice {
	height: @h-line*4;
	overflow: auto;
}

.page.bg-city {
	background: #ECECEC url(../img/bg-city.png) no-repeat center bottom;
	background-size: contain;
}


h2 {
	font-weight: bold;
	font-size: 18px;
	margin: 12px 1px;
}

.indent {
	p {
		text-indent: 2em;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bg-commission {
	background-image: url(../img/bg-money-2.png);
	background-repeat: no-repeat;
}

.bg-rb {
	background-position: right bottom;
}

// ----------------------------------------
// ! component
// ----------------------------------------
.input-group {
	position: relative;
	display: table;
	border-collapse: separate;

	input, .addon {
		display: table-cell;
	}

	input {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
		.br();
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none;
	}

	.addon {
		padding: 0 6px;
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		&.gray {
			.br();
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background: #fff;
			border-left: none;
		}
	}
}

.inline-group {
	position: relative;
	display: table;
	border-collapse: separate;
	line-height: 38px;

	.content, .addon {
		display: table-cell;
	}

	&.box-lg {
		font-size: 18px;

		.card {
			font-size: 22px;
			top: 5px;
		}
	}

	.content {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
		.br();
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none;
	}

	.addon {
		padding: 0 6px;
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&.br {
		.br();
		.brr();
		background: #fff;

		.content {
			board: none;
			border: none;
		}

		.addon {
			padding: 0;
		}
	}
}

.selection-box {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	max-height: 100%;
	overflow: auto;
	
	.title {
		text-align: center;
		color: #eee;
		position: absolute;
		top: -36px;
		width: 100%;
	}
	.inner {
		position: absolute;
		max-height: 80%;
		width: 100%;
		top: 50%;
		background: #fff;
		transform: translateY(-50%);
	}
	
	ul {
		li {
			border-bottom: 1px solid #f4f4f4;
			text-align: center;
			line-height: 48px;

			&:nth-last-child(1) {
				border: none;
			}
		}
	}
}

.block-layout {
	padding: 1px;

	.item {
		display: block;
		float: left;
		width: 50%;
		padding-right: 6px;
		color: #fff;
		margin-bottom: 12px;

		.inner {
			padding: 24px 18px;
			background-color: @c-orange;
			.brr();
			background-size: auto 85%;
			background-repeat: no-repeat;
		}

		.t1 {
			font-size: 18px;
			line-height: 22px;
		}

		.small {
			font-size: 14px;
		}

		strong {
			font-weight: bold;
		}

		.t2 {
			color: @c-d-orange;
			font-weight: bold;
		}

		&:nth-child(even) {
			padding-right: 0;
			padding-left: 6px;
		}
	}

	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
}

// ----------------------------------------
// ! page login
// ----------------------------------------
.page.login {
	background: @c-orange url(../img/login-bg.png) no-repeat;
	background-size: cover;

	.main {
		padding: 24px 0;
	}

	form .wrapper {
		background: #fff;
		border-radius: 3px;
		padding: 24px;
	}
}

// ----------------------------------------
// ! page account center
// ----------------------------------------
.account-center {
	padding: 12px;
}
.account-info {
	background: #fff;
	.brr();
	.br();
	position: relative;
	height: @h-line*6;
	padding: 12px 12px 12px 84px;
	margin-bottom: 12px;

	.user-icon {
		position: absolute;
		left: -24px;
		top: -24px;
		width: 96px;

		img {
			.img-responsive();
		}
	}

	.name {
		font-size: 36px;
		line-height: 42px;
		font-weight: bold;
	}

	a.setting {
		position: absolute;
		right: -18px;
		top: -18px;
		width: 36px;
		height: 36px;
		background: url(../img/icon-setting.png) center center;
		background-size: cover;
	}

	a.modify {
		position: absolute;
		right: 12px;
		top: 12px;
		border-bottom: 1px solid @c-orange;
		color: @c-orange;
	}

	.bussiness-history {
		color: @c-orange;
		position: absolute;
		bottom: 6px;
		right: 24px;

		>div {
			.inline();
		}

		span {
			line-height: 32px;
			font-size: 24px;
			font-weight: bold;
			.inline();
		}

		p {
			padding-left: 6px;
		}

		i {
			display: inline-block;
			width: 32px;
			height: 32px;
			background-size: cover;
			vertical-align: top;
		}

		.recommend {
			margin-right: 6px;

			>div {
				border-right: 1px solid @c-orange;
				padding-right: 12px;
			}

			i {
				background-image: url(../img/icon-users.png);
			}
		}

		.earn {
			i {
				background-image: url(../img/icon-money.png);
			}
		}
	}
}

.account-nav {
	padding: 1px;

	>a {
		display: block;
		float: left;
		width: 50%;
		padding-right: 6px;
		color: #fff;
		margin-bottom: 12px;

		.inner {
			padding: 24px 18px;
			background-color: @c-orange;
			.brr();
			background-size: auto 85%;
			background-repeat: no-repeat;
			background-position: left bottom;
		}

		&:nth-child(1) .inner{
			background-image: url(../img/bg-recommend.png);
		}&:nth-child(2) .inner{
			background-image: url(../img/bg-users.png);
		}&:nth-child(3) .inner{
			background-image: url(../img/bg-money.png);
		}&:nth-child(4) .inner{
			background-image: url(../img/bg-doc.png);
		}

		.t1 {
			font-size: 22px;
			line-height: 22px;
		}

		.t2 {
			color: @c-d-orange;
			font-weight: bold;
		}

		&:nth-child(even) {
			padding-right: 0;
			padding-left: 6px;
		}
	}

	&::after {
		display: block;
		content: ' ';
		clear: both;
	}

	&.role {
		>a {
			.inner {
				background-image: url(../img/bg-users.png);
			}
		}

		.t1 {
			font-size: 16px;
		}
	}
}

.sale-list {
	padding: 1px;

	.item {
		margin-bottom: 12px;

		.thumbnail{
			display: block;
			.top-brr();
			.img-responsive();
		}

		.info {
			background: #fff;
			.bottom-brr();
			padding: 12px;
		}

		.title {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		.commission span {
			padding: 1px 3px;
		}
	}
}

// ----------------------------------------
// ! page of client
// ----------------------------------------
.client {
	font-size: 12px;
	text-align: center;

	.item {
		background: #fff;
		margin-bottom: 6px;
		position: relative;
		display: block;

		&>div {
			float: left;
			padding: 12px 6px;
		}

		&::after {
			content: ' ';
			clear: both;
			display: block;
		}

		.name {
			width: 16%;
		}

		.loupan {
			width: 38%;
		}

		.phone {
			width: 27%;
		}

		.state {
			width: 17%;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;

			span {
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}

	.state {
		color: #fff;
	}

	.state1 {
		background: #FC0F42;
	}.state2 {
		background: #FD7222;
	}.state3 {
		background: #EFC52C;
	}.state4 {
		background: #47B720;
	}.state5 {
		background: #22D4AA;
	}.state6 {
		background: #1BA4E4;
	}

	.head {
		background: none;

		.state {
			color: inherit;
		}
	}
}

// ----------------------------------------
// ! page of trade
// ----------------------------------------
.trade {
	.small {
		font-size: 12px;
	}
}

// ----------------------------------------
// ! page of rules
// ----------------------------------------
.rule {
	.content-box {
		padding-bottom: @h-line*2;
	}

	h1 {
		font-size: 28px;
		.mt();
		.mb();
	}
}

// ----------------------------------------
// ! page of client-detail
// ----------------------------------------

.client-detail {
	.name, .sex, .loupan {
		line-height: 24px;
		display: inline-block;
	}
	.name {
		font-size: 20px;
	}

	.sex {
		padding: 1px;
		background: @c-red;
		color: #fff;
		font-size: 12px;
		line-height: 12px;
		.brr();
		position: relative;
		top: -1px;
	}

	.loupan {
		float: right;
		//padding-top: 7px;
	}

	hr {
		margin: 6px 0;
	}

	.phone {
		a {
			padding: 0 6px;
			color: @c-orange;
		}
		&::before {
			content: '\e182';
			font-family: 'glyphicons';
			display: inline-block;
			font-size: 10px;
			color: #fff;
			height: 20px;
			width: 20px;
			text-align: center;
			line-height: 22px;
			background: @c-orange;
			border-radius: 10px;
			margin-right: 6px;
		}
	}

	.state-bar {
		.row();
		padding-top: 24px;
		&::before {
			position: absolute;
			content: ' ';
			left: 8.5%;
			right: 8.5%;
			background: @c-gray;
			height: 2px;
			top: 11px;
		}

		.item {
			.col-2();
			font-size: 12px;
			text-align: center;

			&::before {
				position: absolute;
				content: ' ';
				width: 12px;
				height: 12px;
				background: @c-gray;
				top: -18px;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 6px;
			}

			&.done {
				color: @c-orange;

				&::before {
					background: @c-orange;
				}
			}
		}
	}
}