@import "basic.less";
@font-face {
	  font-family: "glyphicons";
	  src: url("../fonts/glyphicons-halflings-regular.ttf");
}
// ----------------------------------------
// ! variables
// ----------------------------------------

@c-orange: #FD8A24;
@c-l-orange: #ff8a00;
@c-d-orange: #C46B1A;
@c-gray: #cdcdcd;
@c-d-gray: #777;
@c-border: #CFCFCF;
@c-d-border: #D9D9D9;

@h-line: 24px;

// ----------------------------------------
// ! basic layout
// ----------------------------------------
html, body, .page {
	width: 100%;
	height: 100%;
}

.page {
	padding: 5%;
	height: auto;
	min-height: 100%;
	overflow: auto;
	position: relative;
}

.logo {
	width: 65%;
	margin: 24px auto;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.copyright {
	text-align: center;
	margin: @h-line 0 @h-line*3;
	color: @c-d-gray;
}

// ----------------------------------------
// ! basic style
// ----------------------------------------
.p1 {
	padding: 1px;
}

.hidden {
	display: none;
}

.small {
	font-size: 13px;
}

span.glyphicons {
	font-family: 'glyphicons';
	line-height: 36px;
	padding: 0 6px; 
	
	&.arrow-down::before {
		content: "\e114";
	}
}

.bg-orange {
	background-color: @c-orange;
}

.brr {
	border-radius: 3px;
}

.top-brr {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.bottom-brr {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.left-brr {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.right-brr {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.nobg {
	background: none;
}

input {
	border-radius: 0;
	margin: 0;
	box-shadow: none;
}

input[disabled] {
	color: #373737;
}

input, button, .notice {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: @c-l-orange;
	font-size: 15px;

	&.line-higher {
		height: 42px;
	}
}

.inline {
	display: inline-block;
}

hr {
	margin: 6px auto;
	background: @c-border;
}

.mt2 {
	margin-top: @h-line * 2;
}

.mt {
	margin-top: @h-line;
}

.mb05 {
	margin-bottom: @h-line/2;
}

.mb033 {
	margin-bottom: @h-line/3;
}

.pd2 {
	padding-top: @h-line * 2;
}

.pd {
	padding-top: @h-line;
}

::-webkit-input-placeholder {
    color: @c-gray;
}
 
:-moz-placeholder {
    color: @c-gray;
}
 
:-ms-input-placeholder {
    /* IE10+ */
    color: @c-gray;
}

.c-d-gray {
	color: @c-d-gray;
}

.c-gray {
	color: @c-gray;
}

.c-orange {
	color: @c-orange;
}

.bg-orange {
	background: @c-orange;
	color: #fff;
}

.br {
	border: 1px solid @c-d-border;
}

.notice {
	height: @h-line*4;
	overflow: auto;
}

.page.bg-city {
	background: #ECECEC url(../img/bg-city.png) no-repeat center bottom;
	background-size: contain;
}


h2 {
	font-weight: bold;
	font-size: 18px;
	margin: 12px 1px;
}

.indent {
	p {
		text-indent: 2em;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// ----------------------------------------
// ! component
// ----------------------------------------
.input-group {
	position: relative;
	display: table;
	border-collapse: separate;

	input, .addon {
		display: table-cell;
	}

	input {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
		.br();
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none;
	}

	.addon {
		padding: 0 6px;
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.selection-box {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	max-height: 100%;
	overflow: auto;
	
	.title {
		text-align: center;
		color: #eee;
		position: absolute;
		top: -36px;
		width: 100%;
	}
	.inner {
		position: absolute;
		max-height: 80%;
		width: 100%;
		top: 50%;
		background: #fff;
		transform: translateY(-50%);
	}
	
	ul {
		li {
			border-bottom: 1px solid #f4f4f4;
			text-align: center;
			line-height: 48px;

			&:nth-last-child(1) {
				border: none;
			}
		}
	}
}

// ----------------------------------------
// ! page login
// ----------------------------------------
.page.login {
	background: @c-orange url(../img/login-bg.png) no-repeat;
	background-size: cover;

	.main {
		padding: 24px 0;
	}

	form .wrapper {
		background: #fff;
		border-radius: 3px;
		padding: 24px;
	}
}

// ----------------------------------------
// ! page account center
// ----------------------------------------
.account-center {
	padding: 12px;
}
.account-info {
	background: #fff;
	.brr();
	.br();
	position: relative;
	height: @h-line*6;
	padding: 12px 12px 12px 84px;
	margin-bottom: 12px;

	.user-icon {
		position: absolute;
		left: -24px;
		top: -24px;
		width: 96px;

		img {
			.img-responsive();
		}
	}

	.name {
		font-size: 36px;
		line-height: 42px;
		font-weight: bold;
	}

	a.setting {
		position: absolute;
		right: -18px;
		top: -18px;
		width: 36px;
		height: 36px;
		background: url(../img/icon-setting.png) center center;
		background-size: cover;
	}

	.bussiness-history {
		color: @c-orange;
		position: absolute;
		bottom: 6px;
		right: 24px;

		>div {
			.inline();
		}

		span {
			line-height: 32px;
			font-size: 24px;
			font-weight: bold;
			.inline();
		}

		p {
			padding-left: 6px;
		}

		i {
			display: inline-block;
			width: 32px;
			height: 32px;
			background-size: cover;
			vertical-align: top;
		}

		.recommend {
			margin-right: 6px;

			>div {
				border-right: 1px solid @c-orange;
				padding-right: 12px;
			}

			i {
				background-image: url(../img/icon-users.png);
			}
		}

		.earn {
			i {
				background-image: url(../img/icon-money.png);
			}
		}
	}
}

.account-nav {
	padding: 1px;

	>a {
		display: block;
		float: left;
		width: 50%;
		padding-right: 6px;
		color: #fff;
		margin-bottom: 12px;

		.inner {
			padding: 24px 18px;
			background-color: @c-orange;
			.brr();
			background-size: auto 85%;
			background-repeat: no-repeat;
			background-position: left bottom;
		}

		&:nth-child(1) .inner{
			background-image: url(../img/bg-recommend.png);
		}&:nth-child(2) .inner{
			background-image: url(../img/bg-users.png);
		}&:nth-child(3) .inner{
			background-image: url(../img/bg-money.png);
		}&:nth-child(4) .inner{
			background-image: url(../img/bg-doc.png);
		}

		.t1 {
			font-size: 22px;
			line-height: 22px;
		}

		.t2 {
			color: @c-d-orange;
			font-weight: bold;
		}

		&:nth-child(even) {
			padding-right: 0;
			padding-left: 6px;
		}
	}

	&::after {
		display: block;
		content: ' ';
		clear: both;
	}
}

.sale-list {
	padding: 1px;

	.item {
		margin-bottom: 12px;

		.thumbnail{
			display: block;
			.top-brr();
			.img-responsive();
		}

		.info {
			background: #fff;
			.bottom-brr();
			padding: 12px;
		}

		.title {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		.commission span {
			padding: 1px 3px;
		}
	}
}

// ----------------------------------------
// ! page of client
// ----------------------------------------
.client {
	font-size: 12px;
	text-align: center;

	.item {
		background: #fff;
		margin-bottom: 6px;
		position: relative;

		&>div {
			float: left;
			padding: 12px 6px;
		}

		&::after {
			content: ' ';
			clear: both;
			display: block;
		}

		.name {
			width: 16%;
		}

		.loupan {
			width: 38%;
		}

		.phone {
			width: 27%;
		}

		.state {
			width: 17%;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;

			span {
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}

	.state {
		color: #fff;
	}

	.state1 {
		background: #FC0F42;
	}.state2 {
		background: #FD7222;
	}.state3 {
		background: #EFC52C;
	}.state4 {
		background: #47B720;
	}.state5 {
		background: #22D4AA;
	}.state6 {
		background: #1BA4E4;
	}

	.head {
		background: none;

		.state {
			color: inherit;
		}
	}
}