extends inc/base

block title
	title 客户详情

block inpage
	.main
		.client-detail
			.basic
				.name 余漫斯
				.sex 女士
				.loupan 意向楼盘：万科翡翠新城
				hr
				.phone
					a(href="tel:18577346887") 18577346887
					a(href="tel:18577346887") 18577346887
					a(href="tel:18577346887") 18577346887
			.state.mt
				p 状态:
				.state-bar
					.item.done 已登记
					.item.done 已到访
					.item 未认筹
					.item 未认购
					.item 未签约
					.item 未回款

			.text-center.mt2
				.c-gray.small 提示：若您获悉客户已购房，请联系客服以确认。
				.c-d-gray.small 023-8888888
				a.btn.btn-block.center-block.mt.mb(href="account.html") 返回



